<!DOCTYPE html>
<html>
<head>
    <title>Register NMK</title>
</head>
<body>
    <h1>Register NMK</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email() }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
        </p>
        <p>
            {{ form.nmk_name.label }}<br>
            {{ form.nmk_name() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
